<div class="dice-roll">
  <div class="dice-result">
    <div class="dice-formula">Request: {{formula}}</div>
    <div class="dice-tooltip" style="display: none;"></div>
    <div class="dice-total">
      <button class="{{buttonClass}}" data-{{dataType}}="{{dataValue}}" data-user-id="{{userId}}">
        Roll {{label}}
      </button>
    </div>
  </div>
</div>