<div class='form-group'>
  <label>{{localize 'ABILITY_SKILL_LABEL'}}:</label>
  <div class='custom-select-wrapper'>
    <input type='hidden' name='abilitySkill' required class='ability-skill-hidden-input'>
    <div class='custom-select-trigger ability-skill-select'>
      <span class='selected-value'>{{localize 'SELECT_ABILITY_OR_SKILL'}}</span>
      <span class='arrow'>▼</span>
    </div>
    <div class='custom-options ability-skill-options' style='display: none;'>
      <div class='optgroup-label'>{{localize "ABILITIES_LABEL"}}</div>
      {{#each abilityChoices}}
        <div class='option ability-option' data-value='ability:{{@key}}'>{{this}}</div>
      {{/each}}
      {{#if skillsByAbility.str}}
        <div class='optgroup-label'>{{localize "STRENGTH_SKILLS_LABEL"}}</div>
        {{#each skillsByAbility.str}}
          <div class='option skill-option' data-value='skill:{{@key}}'>{{this.label}}</div>
        {{/each}}
      {{/if}}
      {{#if skillsByAbility.dex}}
        <div class='optgroup-label'>{{localize "DEXTERITY_SKILLS_LABEL"}}</div>
        {{#each skillsByAbility.dex}}
          <div class='option skill-option' data-value='skill:{{@key}}'>{{this.label}}</div>
        {{/each}}
      {{/if}}
      {{#if skillsByAbility.int}}
        <div class='optgroup-label'>{{localize "INTELLIGENCE_SKILLS_LABEL"}}</div>
        {{#each skillsByAbility.int}}
          <div class='option skill-option' data-value='skill:{{@key}}'>{{this.label}}</div>
        {{/each}}
      {{/if}}
      {{#if skillsByAbility.wis}}
        <div class='optgroup-label'>{{localize "WISDOM_SKILLS_LABEL"}}</div>
        {{#each skillsByAbility.wis}}
          <div class='option skill-option' data-value='skill:{{@key}}'>{{this.label}}</div>
        {{/each}}
      {{/if}}
      {{#if skillsByAbility.cha}}
        <div class='optgroup-label'>{{localize "CHARISMA_SKILLS_LABEL"}}</div>
        {{#each skillsByAbility.cha}}
          <div class='option skill-option' data-value='skill:{{@key}}'>{{this.label}}</div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
<div class='form-group players-selection'>
  <label>{{localize 'ONLINE_PLAYERS_LABEL'}}:</label>
  <div class='players-container'>
    <select name='players' multiple required class='players-select'>
      {{#each players}}
        <option value='{{this.value}}'>{{this.label}}</option>
      {{/each}}
    </select>
  </div>
</div>
<div class='player-actions'>
  <button type='button' class='select-all-btn' title='{{localize "SELECT_ALL_PLAYERS"}}'>{{localize
      'SELECT_ALL_BUTTON'
    }}</button>
  <button type='button' class='clear-selection-btn' title='{{localize "CLEAR_SELECTION"}}'>{{localize
      'CLEAR_BUTTON'
    }}</button>
</div>